language: python
python:
#  - "3.5"
  - "3.6"
before_install:
 - sudo apt-get -qq update
 - sudo apt-get install -y libenchant-dev
install:
  - pip install -r requirements/dev.in
script: invoke check
